$text-primary: rgba(0, 0, 0, .87);
$text-secondary: rgba(0, 0, 0, .54);
$text-disabled: rgba(0, 0, 0, .38);
$text-hint: rgba(0, 0, 0, .38);
$color-primary: #3f51b5;
$color-secondary: #f50057;
$color-error: #f44336;
$color-warning: #ff9800;
$color-success: #4caf50;
$color-info: #2196f3;
$bg-default: #fafafa;
$bg-paper: #fff;
$black: #000;
$white: #fff;
